@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --blue: rgba(50, 168, 98);
  --white: rgb(240, 248, 255);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--blue);
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 30px;
}

/* .App {
  font-family: sans-serif;
  text-align: center;
} */

nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.6;
}

.header {
  color: var(--white);
  padding: 4%;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.rules {
  color: wheat;
  padding: 15px;
  text-align: center;
}

.rules ul {
  padding: 30px;
  list-style: none;
}

.rules ul li {
  line-height: 30px;
}

.btn {
  cursor: pointer;
  background-color: rgba(29, 92, 55);
  color: white;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 25px;
}

.btn:hover {
  font-weight: 700;
  background-color: rgba(0, 128, 0, 1);
  transition: all 0.5s ease-in-out;
}

.sendBtn:hover {
  font-size: 24px;
  color: var(--blue);
}

.title {
  margin: 40px auto 10px;
  font-size: 50px;
  color: rgba(238, 65, 65, 0.911);
}

.emoji-movie {
  margin: 40px auto 0px;
  font-size: 35px;
}

.movie-input {
  margin: 40px auto 10px;
  width: 75%;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 20px;
}

#message {
  font-size: 25px;
  padding: 20px 0;
}

.success {
  color: yellowgreen;
  font-weight: 600;
}

.wrong {
  font-weight: 800;
  color: rgb(255, 136, 0);
}

#message.won {
  color: var(--white);
  font-weight: 900;
  font-size: 60px;
}

#hide {
  display: none;
}
